*.vs
*.csproj.user
*obj*
*bin*
src/TDNPGL.Networking/bin
src/TDNPGL.Networking/obj
src/packages
src/Native/TDNPGL.Native/build/
src/TestResults

.vscode/*
!.vscode/launch.json

src/packed
build
docs/source/_build

*.exe
*.dll
*.so
