.vscode/launch.json
src/.vs/
src/TDNPGL.Core/TDNPGL.Core.csproj.user
src/TDNPGL.Core/bin/
src/TDNPGL.Core/obj/
src/TDNPGL.GlobalDepencies/obj/
src/TDNPGL.GlobalDepencies/bin/
src/Views/TDNPGL.Views.Forms/bin/
src/Views/TDNPGL.Views.Forms/obj/
src/Views/TDNPGL.Views.Gtk2/obj/
src/Views/TDNPGL.Views.Gtk2/bin/
src/Views/TDNPGL.Views.Gtk3/bin/
src/Views/TDNPGL.Views.Gtk3/obj/
src/Views/TDNPGL.Views.WinForms/obj/
src/Views/TDNPGL.Views.WinForms/bin/
src/Native/TDNPGL.Native/build
src/Tests/TDNPGL.Tests.Native/bin
src/Tests/TDNPGL.Tests.Native/obj
src/Tests/TDNPGL.Tests.OpenGL/bin
src/Tests/TDNPGL.Tests.OpenGL/obj
src/TDNPGL.Networking/bin
src/TDNPGL.Networking/obj